<%- include("./partials/head.ejs") %>
<link rel="stylesheet" href="/css/reports.css">
<script src="/script/delete_req/fetch_report_delete.js"></script>
<%- include("./partials/header.ejs") %>
    <main>
        
        <% reports.forEach(report => { %>
            <section>
                
                <h2> <%= report.user %></h2> 
                <h3>Vurdering: <%= report.connection %></h3>
                
                <p>Beskrivelse: <%= report.content %></p>
               <button class="deleteReport" data-id="<%= report._id %>">Slett</button>
                </section>
        <%}); %>
    </main>
<%- include("./partials/footer.ejs") %>