<%- include("./partials/head.ejs") %>
<link rel="stylesheet" href="/css/review.css">
<%- include("./partials/header.ejs") %>
<main>
    <section>
        <h2><%= review.title %></h2>
        <p><%= review.content %></p>
        <a href="<%= review.link %>">Sidelenke: Her!</a>
    </section>
</main>

</body>
</html>