<%- include("./partials/head.ejs") %>
<link rel="stylesheet" href="/css/review.css">
<script src="/script/fetch_publish_comment.js" defer></script>
<script src="/script/fetch_delete_review.js" defer></script>
<%- include("./partials/header.ejs") %>
<main>
    <section>
        <h2><%= review.title %></h2>
        <p><%= review.content %></p>
        <a href="<%= review.link %>">Sidelenke: Her!</a>
        <p>Laget av: <%= review.user %></p>
        <% if(review.user === user){ %>
        <button id="deleteReview" type="submit" value="<%=review._id   %>">Slett</button>
        <% } %>
    </section>
    <%if(user){ %>
    <form>
        <section>
        <label for="content">Skriv et kommentar:</label>
        <textarea type="text" name="content" id="content" placeholder="Skriv inn en kommentar.."></textarea>
        </section>
        <input type="hidden"name="user" id="user" value="<%= user %>">
        <input type="hidden" name="connection" id="connection" value="<%= review._id %>">
        <button type="submit">Publiser</button>
    </form>
    <% } %>
    <div>
    <h3>Kommentarer:</h3>
    <section id="comments">
        <% if(comments.length > 0){ %>
        <% comments.forEach(comment => {%>
           <h4><%= comment.user %></h4> 
           <p><%= comment.content %></p>
        <%}); %>
        <% }else{ %>
            <h4>Ingen Kommentarer å vise enda !!</h4>
            <% } %>
    </section>
    </div>
</main>

</body>
</html>