<%- include("./partials/head.ejs") %>
<link rel="stylesheet" href="/css/review.css">
<script src="/script/post_req/fetch_publish_comment.js" defer></script>
<script src="/script/delete_req/fetch_delete_review.js" defer></script>
<script src="/script/delete_req/fetch_delete_comment.js" defer></script>
<script src="/script/post_req/fetch_publish_report.js" defer></script>
<%- include("./partials/header.ejs") %>
<main>
    <section>
        <img src="<%= review.img %>" alt="Screenshot of the website">
        <h2><%= review.title %></h2>
        <p><%= review.content %></p>
        <a href="<%= review.link %>">Sidelenke: Her!</a>
        <p>Laget av: <%= review.user %></p>
        <% if(user){ %>
        <% if(review.user === user.name || user.role === "admin"){ %>
        <button id="deleteReview" value="<%=review._id  %>">Slett</button>
        <% } %>
        <% } %>
    </section>
    <%if(user){ %>
    <form>
        <section>
        <label for="content">Skriv et kommentar:</label>
        <textarea type="text" name="content" id="content" placeholder="Skriv inn en kommentar.."></textarea>
        </section>
        <input type="hidden"name="user" id="user" value="<%= user.name %>">
        <input type="hidden" name="connection" id="connection" value="<%= review._id %>">
        <button type="submit">Publiser</button>
    </form>

    <form id="report">
        <section>
        <label for="content">Rapporter Vurderingen:</label>
        <textarea type="text" name="content" id="content" placeholder="Rapporter Her.."></textarea>
        </section>
        <input type="hidden"name="user" id="user" value="<%= user.name %>">
        <input type="hidden" name="connection" id="connection" value="<%= review.title %>">
        <button type="submit">Rapporter</button>
    </form>
    <% } %>
    <div>
    <h3>Kommentarer:</h3>
    <section id="comments">
        <% if(comments.length > 0){ %>
        <% comments.forEach(comment => {%>
           <h4><%= comment.user %></h4> 
           <p><%= comment.content %></p>
           <% if(user){ %>
           <% if(comment.user === user.name || user.role === "admin"){%>
            <button class="deleteComment" data-id="<%= comment._id %>">Slett</button>
          <% } %>
          <% } %>
        <%}); %>
        <% }else{ %>
            <h4>Ingen Kommentarer å vise enda !!</h4>
            <% } %>
    </section>
    </div>
</main>

<%- include("./partials/footer.ejs") %>